.Home {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    max-width: 100%;
    margin: 10px auto;

}




.rowCentredwContent {
    display: flex;
    margin: 1% auto;
    padding: 1%;
    flex-direction: column;
    align-items: center;
}


.rowCentredwContent>* {
    margin: 2% 1%;
}