body {
    margin: 0;
    background-color: #FDF5E6 !important;
}


#root {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25% auto 25% auto;
    /* padding: 25%; */

}

.Home {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    max-width: 100%;
    margin: 10px auto;

}


.rowCentredwContent {
    display: flex;
    margin: 1% auto;
    padding: 1%;
    flex-direction: column;
    align-items: center;
}


.rowCentredwContent>* {
    margin: 2% 1%;
}


.RegisterLogin {
    margin: 5% auto;
}


.RegisterLogin>div {
    width: 100%;
    padding: 5%;
}

.RegisterLogin>div>input {
    margin: 2% auto;
    width: 100%;
}

.divButton>button {
    width: auto;
}