body {
    /* margin: 0; */
    padding: 0;
    background-color: #FDF5E6 !important;


    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Pour occuper au moins toute la hauteur de la vue */
    margin: 0;
    /* Supprimer la marge par défaut du corps */
}


#root {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25% auto 25% auto;
    /* padding: 25%; */

}

/* HOME */

.Home {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    max-width: 100%;
    margin: 10px auto;

    border: 2px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 1%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);


}


.rowCentredwContent {
    display: flex;
    margin: 1% auto;
    padding: 1%;
    flex-direction: column;
    align-items: center;
}


.rowCentredwContent>* {
    margin: 2% 1%;
}


.RegisterLogin {
    margin: 5% auto;
}


RegisterLogin>div {
    width: 100%;
    padding: 5%;
}

RegisterLogin>div>input {
    margin: 2% auto;
    width: 100%;
}

.divButton>button {
    width: auto;
}

.sidebar {
    background-color: #FDF5E6;
}

.FormText {
    margin: 10% auto !important;
}


/* JUSTPAGE */

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.custom-file-upload:hover {
    background-color: #e9e9e9;
}

#fileInput {
    display: none;
    /* Cachez l'élément d'entrée de fichier réel */
}