.header {
    position: sticky !important;
    top: 0 !important;
    z-index: 100 !important;

    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1px;
    background-color: #c08d0d2a;
}